[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restplus = "*"
numpy = "*"
marshmallow = "*"
Flask = "*"
Flask-RESTful = "*"
Flask-JWT = "*"
Flask-SQLAlchemy = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"

[dev-packages]

[requires]
python_version = "3.8"
